
OOP Feb 2019/Encapsulation/Lecture/EncapsulationLab/.vs/EncapsulationLab/v15/Server/sqlite3/storage.ide-wal
OOP Feb 2019/Encapsulation/Lecture/EncapsulationLab/.vs/EncapsulationLab/v15/Server/sqlite3/storage.ide
OOP Feb 2019/Encapsulation/Lecture/EncapsulationLab/.vs/EncapsulationLab/v15/Server/sqlite3/db.lock
OOP Feb 2019/Encapsulation/Lecture/EncapsulationLab/.vs/EncapsulationLab/v15/.suo
OOP Feb 2019/Encapsulation/Lecture/EncapsulationLab/.vs/EncapsulationLab/v15/Server/sqlite3/storage.ide-shm
